extends layout

block content

		.container 
			p #{title}

			form(action="#", method="post") 
				label(for="nom") Entrez votre nom :
					input(
						type="text"
						, name="nom"
						, id="nom"
						)
				label(for="prenom") Entrez votre prénom : 
					input(
						type="text"
						, name="prenom"
						, id="prenom"
						)
				label(for="tel") Entrez votre prénom : 
					input(
						type="tel", name="")
			
//- FInir le formulaire
